body {
  background-color: darkslategray;
}
h1 {
  color: antiquewhite;
  font-family: timesnewroman;
  font-size: 90%;
}
h2 {
  color: blanchedalmond;
  font-family: timesnewroman;
  font-size: 90%;
}
h3 {
  color: beige;
  font-family: timesnewroman;
  font-size: 88%;
}
p {
  color: gainsboro;
  font-family: timesnewroman;
  font-size: 75%;
}
